body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--back-main);
	color: var(--dark);
	font-family: var(--font-main);
	font-size: 16px;
	font-weight: 400;
	scroll-behavior: smooth;
}

/*-------------utils---------------*/
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*-------------/utils---------------*/

.btn {
	display: block;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid rgba(43, 203, 112, 0.712);
	border-radius: 2px;
	background-color: #2bcb6f;
	padding: 7px 20px;
	margin: 0 auto;
	transition: all 0.3s;

	&:hover {
		color: #2bcb6f;
		background-color: transparent;
	}
	&:active {
		color: #fff;
		background-color: rgba(43, 203, 112, 0.712);
	}
}
