:root {
	--font-main: 'Open Sans', sans-serif;
	//--font-accent: 'Playfair Display', sans-serif;

	--white: #fff;
	--chocolate: #d35f0d;			// D17800
	--green: #3EB650; 			// 2ECC71
	--green-text: green;
	--red-text: red;
	--red: #E12B38	;			// FF0000
	--dark: #292930;			// 212434
	--grey: #c4c4c4;
	--back-main: #EBEBEB;

	--bottom-space: 75px;
}
