.body--second-page {
	background-color: #fff; // #f8f8f8
}
//-----------------------------------------------//

.second-page {
	margin-bottom: 120px;

	&--hero {
		background: rgb(238, 238, 238);
		background: linear-gradient(
			180deg,
			rgba(238, 238, 238, 1) 0%,
			rgba(255, 255, 255, 1) 100%
		);
	}
	&--buyadd {
		padding: 150px 0 100px;
	}
	&__h1 {
		font-size: clamp(2rem, 1.8vw + 1rem, 2.75rem);
		text-align: center;
		margin: 100px auto 60px;
	}
	&__h2 {
		font-size: clamp(1.75rem, 1.8vw + 1rem, 2.063rem);
		text-align: left;
		margin-bottom: 45px;

		&--center {
			text-align: center;
		}
	}
	&__h3 {
		font-size: clamp(1.5rem, 1.2vw + 1rem, 1.875rem);
		line-height: 130%;
		margin-bottom: 25px;
	}
	&__text:not(:last-child) {
		margin-bottom: 15px;
	}
	&__flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
	}
	&__descr {
		max-width: 600px;
	}
	&__text {
		font-size: clamp(0.875rem, 0.6vw + 0.5rem, 1rem);
	}

	&__list {
		font-size: 18px;
		line-height: 160%;
		color: var(--dark);
	}

	&__list-item {
		background: url("../img/svg/check.svg") no-repeat;
		background-position: 0 50%;
		padding-left: 36px;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

@media (max-width: 960px) {
	.second-page {
		&__h1 {
			margin: 50px auto 50px;
		}
		&__text {
			font-size: 1rem;
		}
	}
}
@media (max-width: 768px) {
	.second-page {
		&--hero {
			margin-bottom: 70px;
		}

		&--buyadd {
			padding: 80px 0;
		}
		&__h2 {
			margin-bottom: 30px;
		}
		&__flex {
			flex-direction: column;
			gap: 50px;

			&--reverse {
				flex-direction: column-reverse;
			}
		}
	}
}
@media (max-width: 420px) {
	.second-page {
		&--hero {
			margin-bottom: 50px;
		}
		&__h1 {
			margin: 50px auto 30px;
		}
	}
}

//------------------ second page wite-block ------------------//
.sp-wite-block-wrapper {
	max-width: 510px;
	min-width: 460px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	box-shadow: 0 4px 4px -4px rgba(20, 23, 34, 0.1),
		0 12px 10px -6px rgba(154, 156, 165, 0.15),
		0 30px 24px -10px rgba(154, 156, 165, 0.15),
		0 80px 80px -20px rgba(154, 156, 165, 0.15);
	background: #fbfbfb;
	border: 1px solid #f3f3f3;

	&--ttx {
		padding: 60px 20px;
	}
	&--price {
		padding: 60px 0;
	}
	&--buyadd {
		padding: 73px 0;
	}
}

@media (max-width: 768px) {
	.sp-wite-block-wrapper {
		max-width: 600px;
		min-width: 300px;
	}
}
@media (max-width: 960px) {
	.sp-wite-block-wrapper {
		min-width: 400px;
		padding: 40px 0;

		&--buyadd {
			padding: 40px 10px;
		}
	}
}
//-----------------------------------------------//
.layouts-cta {
	background-color: #f4f5f6;
	margin-bottom: 70px;

	&__flex {
		display: flex;
		justify-content: space-between;
		max-width: 985px;
	}
	&__h3 {
		max-width: 650px;
		margin-bottom: 30px;
	}
	&__left {
		position: relative;
	}
	&__img {
		position: absolute;
	}
	&__right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		padding: 45px 0;
	}
	&__right-wrapp {
	}
	&__form {
		background-color: #f4f5f6;
		margin-bottom: 30px;
	}
	&__subtext {
		max-width: 290px;
		font-size: 16px;
		line-height: 150%;
		color: var(--dark);
	}
}

@media (max-width: 768px) {
	.layouts-cta {
		&__flex {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__h2 {
			text-align: center;
			margin-bottom: 0;
		}
		&__img {
			display: none;
		}
		&__right {
			padding: 0 0 50px 0;
		}
	}
}
//-----------------------------------------------//
.doit {
	margin-bottom: 220px;

	&__list {
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		counter-reset: item;
	}
	&__item {
		position: relative;
		padding-top: 120px;

		&:not(:last-child) {
			background-image: url("../img/svg/line.svg");
			background-repeat: no-repeat;
			background-position: 100% 40px;
		}

		&::after {
			position: absolute;
			top: -16px;
			left: -42px;
			content: "";
			display: block;
			width: 116px;
			height: 116px;
			border-radius: 100%;
		}
		&:hover:after {
			transition: all 0.3s ease-in-out;
			background: rgba(43, 203, 112, 0.3);
		}

		&::before {
			counter-increment: item;
			content: "0" counter(item);

			position: absolute;
			top: 0;
			left: -26px;
			text-align: center;
			display: block;
			width: 84px;
			height: 84px;
			font-weight: 700;
			font-size: 46px;
			line-height: 170%;
			color: var(-grey);
			border-radius: 100%;
			background-color: #ffffff;
			margin-bottom: 16px;
		}
		&:hover::before {
			color: #ffffff;
			background: rgba(43, 203, 112, 0.7);
			z-index: 2;
			transition: all 0.3s ease-in-out;
		}
	}
	&__subtitle {
		font-size: 20px;
		line-height: 150%;
		font-weight: 700;
		margin-bottom: 8px;
	}
}
@media (max-width: 768px) {
	.doit {
		&__list {
			grid-template-columns: repeat(1, 1fr);
		}

		&__item {
			padding-left: 80px;
			padding-top: 0;
			&:not(:last-child) {
				background-image: none;
			}

			&::after {
				top: -10px;
				left: -10px;
				width: 77px;
				height: 77px;
			}
			&::before {
				top: 0;
				left: 0;
				width: 56px;
				height: 56px;
				font-size: 30px;
			}
		}
	}
}

//-----------------------------------------------//
.benefits {
	text-align: center;
	margin-bottom: 220px;

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: space-between;
	}

	&__item {
		padding-top: 65px;
		background-repeat: no-repeat;
		background-position: center top;

		&--center-col {
			border-right: 1px solid;
			border-left: 1px solid;
			border-image: linear-gradient(
					180deg,
					rgb(226, 226, 226),
					rgb(184, 184, 184),
					rgb(226, 226, 226)
				)
				1;
		}

		&--1 {
			background-image: url("../img/svg/1.svg");
		}
		&--2 {
			background-image: url("../img/svg/2.svg");
		}
		&--3 {
			background-image: url("../img/svg/3.svg");
		}
	}
	&__body {
		max-width: 300px;
		padding: 0 10px;
		margin: 0 auto;
	}
	&__h2 {
		text-align: center;
		margin-bottom: 24px;
	}
	&__h3 {
		font-size: 18px;
		line-height: 150%;
		font-weight: 700;
		margin-bottom: 8px;
	}
	&__subtitle {
		max-width: 800px;
		margin: 0 auto 60px;
	}
	&__desc {
		padding-bottom: 10px;
	}
}
