.body--second-page {
	background-color: #fff; // #f8f8f8
}
//-----------------------------------------------//

.second-page {
	margin-bottom: 120px;

	&--hero {
		background: rgb(238, 238, 238);
		background: linear-gradient(
			180deg,
			rgba(238, 238, 238, 1) 0%,
			rgba(255, 255, 255, 1) 100%
		);
	}
	&--buyadd {
		padding: 150px 0;
	}
	&__h1 {
		font-size: clamp(2rem, 1.8vw + 1rem, 2.75rem);
		font-weight: 700;
		max-width: 750px;
		text-align: center;
		margin: 50px auto 100px;
	}
	&__h2 {
		font-size: clamp(1.75rem, 1.8vw + 1rem, 2.063rem);
		text-align: left;
		margin-bottom: 45px;
	}
	&__h3 {
		font-size: clamp(1.5rem, 1.2vw + 1rem, 1.875rem);
		line-height: 130%;
		margin-bottom: 25px;
	}
	&__text:not(:last-child) {
		margin-bottom: 15px;
	}
	&__flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
	}
	&__descr {
		max-width: 600px;
	}
	&__text {
		font-size: clamp(0.875rem, 0.6vw + 0.5rem, 1rem);
	}

	&__list {
		font-size: 18px;
		line-height: 160%;
		color: var(--dark);
	}

	&__list-item {
		background: url("../img/svg/check.svg") no-repeat;
		background-position: 0 50%;
		padding-left: 36px;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

@media (max-width: 960px) {
	.second-page {
		&__h1 {
			margin: 50px auto 50px;
		}
		&__text {
			font-size: 1rem;
		}
	}
}
@media (max-width: 768px) {
	.second-page {
		&--hero {
			margin-bottom: 70px;
		}

		&--buyadd {
			padding: 80px 0;
		}
		&__h2 {
			margin-bottom: 30px;
		}
		&__flex {
			flex-direction: column;
			gap: 50px;

			&--reverse {
				flex-direction: column-reverse;
			}
		}
	}
}
@media (max-width: 420px) {
	.second-page {
		&--hero {
			margin-bottom: 50px;
		}
		&__h1 {
			margin: 50px auto 30px;
		}
	}
}

//------------------ second page wite-block ------------------//
.sp-wite-block-wrapper {
	max-width: 510px;
	min-width: 460px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	box-shadow: 0 4px 4px -4px rgba(20, 23, 34, 0.1),
		0 12px 10px -6px rgba(154, 156, 165, 0.15),
		0 30px 24px -10px rgba(154, 156, 165, 0.15),
		0 80px 80px -20px rgba(154, 156, 165, 0.15);
	background: #fbfbfb;
	border: 1px solid #f3f3f3;

	&--ttx {
		padding: 60px 20px;
	}
	&--price {
		padding: 60px 0;
	}
	&--buyadd {
		padding: 73px 0;
	}
}

@media (max-width: 768px) {
	.sp-wite-block-wrapper {
		max-width: 600px;
		min-width: 300px;
	}
}
@media (max-width: 960px) {
	.sp-wite-block-wrapper {
		min-width: 400px;
		padding: 40px 0;

		&--buyadd {
			padding: 40px 10px;
		}
	}
}
//-----------------------------------------------//
.layouts-cta {
	background-color: #f4f5f6;
	margin-bottom: 70px;

	&__flex {
		display: flex;
		justify-content: space-between;
		max-width: 985px;
	}
	&__h3 {
		max-width: 650px;
		margin-bottom: 30px;
	}
	&__left {
		position: relative;
	}
	&__img {
		position: absolute;
	}
	&__right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		padding: 45px 0;
	}
	&__right-wrapp {
	}
	&__form {
		background-color: #f4f5f6;
		margin-bottom: 30px;
	}
	&__subtext {
		max-width: 290px;
		font-size: 16px;
		line-height: 150%;
		color: var(--dark);
	}
}

@media (max-width: 768px) {
	.layouts-cta {
		&__flex {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__h2 {
			text-align: center;
			margin-bottom: 0;
		}
		&__img {
			display: none;
		}
		&__right {
			padding: 0 0 50px 0;
		}
	}
}
//-----------------------------------------------//
