.header {
	color: var(--white);
	background-color: var(--green);
}
.header__container {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: inline-block;
	width: 30%;
}
.logo__link {
	display: inline-block;
}
.logo__info {
	display: flex;
	align-items: end;
}
.logo__title {
	font-size: 1.3rem;
	font-weight: 400;
	white-space: nowrap;
}
.logo__desc {
	font-size: 1rem;
	font-weight: 300;
	white-space: nowrap;
}
.logo svg {
	width: 33px;
	margin-left: 4px;
}
.burger {
	width: 40px;
	height: 20px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	position: relative;
	display: none;
}

.burger::before,
.burger::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
	background-color: #ffffff;
}

.burger::after {
	top: auto;
	bottom: 0;
}

.burger span {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 2px;
	display: inline-block;
	background-color: #ffffff;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
}
.lock {
	overflow: hidden;
}
.nav__list {
	display: flex;
	align-items: center;
	font-size: 1.1rem;
	margin: 0;
}
.nav__item:not(:first-child) {
	margin-left: 20px;
}
.nav__item {
	position: relative;
	padding: 15px 0;
	color: var(--white);
}
.drop__arrow {
	white-space: nowrap;
}
.drop__arrow::after {
	content: "";
	width: 10px;
	height: 10px;
	background-image: url("../img/downup.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 5px;
	transition: transform 0.3s;
}
.nav__list--dropdown {
	position: absolute;
	background-color: var(--white);
	left: 0;
	top: 100%;
	font-size: 1rem;
	padding: 30px;
	display: block;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.23);
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;
}
.dropdown-submenu {
	display: flex;
	align-items: initial;
}

.dropdown-submenu__title {
	color: rgba(0, 128, 0, 0.7);
	font-size: 1.1rem;
	margin-bottom: 12px;
}

.dropdown-submenu__item {
	flex-grow: 1;
	min-width: 180px;
	padding: 0 40px;
}

.submenu__list-category {
	min-width: 180px;
}

.dropdown-submenu__list {
	padding: 0;
}

.dropdown-submenu__item:not(:last-child) {
	border-right: 1px solid rgba(214, 214, 214, 0.439);
}

.dropdown-submenu__item:first-child {
	padding-left: 0;
}

.dropdown-submenu__item:last-child {
	padding-right: 0;
}

.mobile-back {
	display: none;
}

.dropdown-submenu__list-item {
	margin-bottom: 10px;
}
.dropdown-submenu__list-item {
	color: var(--dark);
	font-size: 1rem;
}
.dropdown-submenu__list-item :hover {
	color: var(--green);
	transition: color 0.2s ease-out;
}

@media (min-width: 769px) {
	.dropdown-submenu__list-item:not(:last-child) {
		margin-bottom: 10px;
	}
	.nav__list--dropdown {
		padding: 20px 40px;
	}

	.drop__arrow:hover::after {
		transform: rotate(180deg);
		transition: all 0.3s;
	}

	.nav__item:hover .nav__list--dropdown {
		visibility: visible;
		opacity: 1;
		transition: all 0.3s;
	}
}

@media (max-width: 968px) {
	.burger {
		display: block;
	}

	.mobile-back {
		display: block;
	}

	.header {
		padding: 15px 0;
	}

	.nav {
		position: fixed;
		left: 0;
		top: 0;
		max-width: 400px;
		width: 80%;
		height: 100vh;
		padding-top: 25px;
		z-index: 100;
		box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 0.8);
		color: var(--dark);
		background-color: #fff;
		transform: translateX(-150vw);
		overflow-x: hidden;
		overflow-y: auto;
	}

	.nav__list {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		padding-top: 10% 0;
		padding-bottom: 70px;
		position: relative;
	}

	.nav__item {
		margin-left: 0 !important;
		font-size: 20px;
		width: 100%;
		color: var(--green-text);
		padding: 0;
		position: static;
	}

	.nav__link,
	.dropdown-submenu__list-item a,
	.dropdown-list__link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1rem;
		width: 100%;
		padding: 10px 30px;
		border-bottom: 1px solid rgba(214, 214, 214, 0.439);
	}

	.drop__arrow::after {
		background-image: url("../img/downup-mob.svg");
	}

	.nav__link::after {
		transform: rotate(-90deg);
	}

	.nav__list--dropdown {
		position: absolute;
		top: 0;
		right: auto;
		left: 100%;
		box-shadow: none;
		width: 100%;
		display: none;
	}

	.dropdown-submenu__item {
		width: 100%;
		padding: 0;
		border: none !important;
	}

	.dropdown-submenu__title {
		padding: 0 30px;
		margin-top: 30px;
	}

	.nav__list.transformation {
		transform: translateX(-100%);
		transition: all 0.3s;
	}

	.nav__list--dropdown.transformation {
		opacity: 1;
		visibility: visible;
		display: block;
		transform: none;
		background-color: #fff;
		transition: all 0.3s;
	}

	.nav.open {
		transform: translateX(0);
		transition: all 0.3s;
	}

	.overlay.open {
		opacity: 1;
		visibility: visible;
		transition: all 0.3s;
	}

	.mobile-back a {
		position: relative;
		border: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.mobile-back a::before {
		content: "";
		width: 10px;
		height: 10px;
		background-image: url("../img/downup-mob.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		margin-right: 10px;
		transform: rotate(90deg);
	}
	.mobile-back__link {
		color: var(--green-text);
		font-weight: 700;
		opacity: 0.5;
	}
}
