.modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1000;

	align-items: center;
	justify-content: center;
}

.modal--active {
	display: flex;
}
.modal__container {
	position: relative;
	display: flex;
	justify-content: center;
	max-width: 400px;
	width: 100%;
	min-width: 290px;
	background-color: #fff;
	border-radius: 2px;
	text-align: center;
	padding: 40px 30px;
}
.modal__close {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	font-size: 25px;
	color: #000000;
	border: 1px solid rgba(128, 128, 128, 0.15);
}
.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	left: 0;
	top: 0;
	width: 100%;
}
