.service {
	margin: 50px auto 0;

	&__title {
		font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
		font-weight: 700;
		max-width: 750px;
		text-align: center;
		margin: 0 auto 50px;
	}

	&__h2 {
		font-size: clamp(1rem, 1vw + 1rem, 1.75rem);
		text-align: left;
	}

	&__main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 100px;
		margin-bottom: 200px;
	}

	&__row {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		&:not(:last-child) {
			margin-bottom: 100px;
		}
	}

	&__row--reverse {
		& .service__info {
			order: 1;
		}
		& .service__swiper {
			order: 2;
		}
	}

	&__text {
		line-height: 1.5;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__swiper {
		position: relative;
	}
}

.swiper {
	max-width: 600px;
	width: 100%;
}

.service-swiper {
	&__list {
		height: 430px;
	}

	&__nav {
		display: block;
		position: absolute;
		bottom: -15px;
		right: 0;
		display: flex;
		justify-content: space-between;
		width: 90px;
		z-index: 100;
	}
}

.btn--swiper {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.15);
	& svg {
		fill: rgb(230, 230, 230);
	}
	&:hover {
		background-color: var(--green);
		transition: background-color 0.3s ease-in-out;
		& svg {
			fill: rgb(255, 255, 255);
		}
	}
}
.swiper-pagination-bullet-active {
	background: var(--green);
}

// ==================== таблица ==================== //
table tr th {
	width: 100%;
}
table tr {
	display: flex;
	justify-content: space-around;
}
td {
	width: 100%;
	text-align: left;
	padding: 0 10px;
	margin: 0 auto;
}

@media (max-width: 968px) {
	.table-wrapper {
		display: flex;
		gap: 20px;
	}

	table tr th {
		width: auto;
	}
}

@media (max-width: 500px) {
	.table-wrapper {
		flex-direction: column;
	}
}

// ==================== /таблица =================== //

@media (max-width: 1024px) {
	.service__main {
		margin-bottom: 100px;
	}
}

@media (max-width: 968px) {
	.service__main {
		margin-top: 70px;
		margin-bottom: 150px;
	}
	.service__h2 {
		text-align: center;
	}
	.service__row {
		grid-template-columns: 100%;
		margin-bottom: 15px;
	}
	.service__row--reverse {
		& .service__info {
			order: 2;
		}
		& .service__swiper {
			order: 1;
		}
	}
	.service__title {
		max-width: 80vw;
	}
	.swiper {
		width: 95vw;
	}
	.service-swiper__nav {
		display: none;
	}
	.swiper-pagination-bullet {
		position: relative;
		top: 5px;
		width: 10px;
		height: 10px;
		border: 2px solid white;
		opacity: 1;
		//background: rgb(139, 139, 139);
	}
	.swiper-pagination-bullet-active {
		background: var(--green);
	}
	.service-swiper__list {
		height: auto;
	}
}

@media (max-width: 576px) {
	.swiper {
		width: 90vw;
	}
}
// @media (max-width: 420px) {
// 	.swiper {
// 		width: 90vw;
// 	}
// }
