/* Base */
@import "./base/reset";
@import "./base/fonts";
@import "./base/vars";
@import "./base/base";
@import "./base/containers";
/* Blocks */
@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/modal";
@import "./blocks/form";
@import "./blocks/swiper-hero-second.scss";
/* Pages */
@import "./pages/houses";
@import "./pages/services";
@import "./pages/second-page";

/*-------------hero--------------*/

.hero {
	background-image: url("../img/hozbloki-dlya-dachi.jpg");
	height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	overflow: hidden;
	padding: 50px 0;
	margin-bottom: 50px;
}

.hero--small {
	background-image: url("../img/hozbloky-malenkie.jpg");
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	overflow: hidden;
}

.hero--metall {
	background-image: url("../img/hero-metall.jpg");

	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	overflow: hidden;
}

.hero__list {
	display: flex;
	font-weight: 700;
	color: var(--green-text);
	align-items: center;
	justify-content: space-around;
}

.hero__link {
	&:hover {
		color: var(--green);
		transition: color 0.3s ease-in-out;
	}
}

@media (max-width: 768px) {
	.hero {
		height: 520px;
	}
}
@media (max-width: 576px) {
	.hero {
		background-image: url("../img/bg-mob.jpg");
		background-color: rgba(0, 0, 0, 0.5);
		background-blend-mode: darken;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: auto;
		margin-bottom: 70px;
	}

	.hero--metall {
		background-image: url("../img/bg-mob-metall.jpg");
	}
	.container__hero {
		height: auto;
		color: #fff;
		padding: 40px 15px;
	}
	.hero__title {
		font-size: clamp(2.25rem, 4vw + 1rem, 2.625rem);
		padding: 0 25px;
		margin-bottom: 50px;
	}
	.hero__title--metall {
		font-size: clamp(1.95rem, 4vw + 1rem, 2.625rem);
	}
	.hero__desc {
		font-size: clamp(1.125rem, 2vw + 1rem, 1.875rem);
		margin-bottom: 50px;
	}

	.hero__list {
		flex-direction: column;
	}
	.hero__item:not(:last-child) {
		margin-bottom: 15px;
	}
	.hero__link {
		font-size: 20px;
		color: rgb(230, 230, 230);
		&:active {
			color: var(--green);
		}
	}
}
.container__hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 900px;
	height: 100%;
	align-items: center;
	text-align: center;
}

.hero__title {
	font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
	font-weight: 700;
	min-width: 300px;
}

.hero__desc {
	font-size: clamp(1.188rem, 1vw + 0.75rem, 1.5rem);
	min-width: 300px;
	margin-bottom: 20px;
}

/*-------------/hero--------------*/

.white-box {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.white-block {
	display: flex;
	justify-content: center;
	width: 920px;
	background-color: var(--white);
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.12);
}
@media (max-width: 960px) {
	.white-block {
		width: 700px;
	}
}
@media (max-width: 768px) {
	.white-block {
		width: 510px;
	}
	.why__block {
		padding: 20px 30px;
	}
}
@media (max-width: 576px) {
	.white-block {
		width: 380px;
	}
}
@media (max-width: 420px) {
	.white-block {
		width: 290px;
	}
}
h2 {
	font-size: clamp(1.4rem, 1vw + 1rem, 1.75rem);
	text-align: center;

	margin-bottom: 8px;
}
/*-------------why--------------*/
.why__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 33px 0;
}

.why__list {
	font-size: clamp(0.95rem, 1vw + 0.5rem, 1.3rem);
}

.why__list :not(:last-child) {
	margin-bottom: 7px;
}

.why__item {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 30px;
}

.why__item::before {
	content: "";
	width: 20px;
	height: 20px;
	background: url("../img/check.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 15px;
}

@media (max-width: 420px) {
	.why__item::before {
		position: absolute;
		top: 3px;
		left: 0;
		width: 16px;
		height: 16px;
	}
}
@media (max-width: 576px) {
	.why__item::before {
		position: absolute;
		top: 3px;
		left: 0;
		width: 16px;
		height: 16px;
	}
}
/*-------------/why--------------*/

/*----------------- text -----------------*/

.text {
	max-width: 1080px;
	width: 100%;
	font-size: clamp(1rem, 1vw + 0.5rem, 1.125rem);
	margin: 0 auto 40px;

	&--second {
		& .text__text {
			font-size: 16px;
		}
	}

	&__list li {
		list-style: disc;
		margin-left: 15px;
	}
	&__text:not(:last-child) {
		margin-bottom: 8px;
	}
	&__title {
		margin-bottom: 15px;
	}
	& span {
		font-size: clamp(1.125rem, 1vw + 0.5rem, 1.15rem);
		font-weight: 700;
	}
	&__subtitle {
		display: inline-block;
		font-size: clamp(1.125rem, 1vw + 0.5rem, 1.15rem);
		font-weight: 700;
	}
}
.text__subtitle {
	margin-top: 10px;
}

@media (max-width: 960px) {
	.text {
		padding: 0 10px;
	}
}

.table {
	width: 100%;
	font-weight: 400;
	font-size: 15px;
	border-collapse: collapse;
	margin: 0 auto 15px;
}

.table tr {
	border-bottom: 1px solid var(--grey);
}

.table thead tr {
	border-bottom: none;
}

.table td,
.table th {
	font-weight: 400;
	text-align: start;
	white-space: wrap;
	padding: 5px 8px;
}

/*---------------- /text -----------------*/

/*-------------- products ----------------*/
.products {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

.products__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px 30px;
	margin-bottom: 50px;
}
@media (max-width: 960px) {
	.products__list {
		grid-template-columns: repeat(2, 1fr);
	}
	.products__text {
		padding: 0 25px;
	}
}
@media (max-width: 769px) {
	.products__list {
		grid-template-columns: repeat(1, 1fr);
	}
	.product summary {
		cursor: pointer;
		margin-bottom: 15px;
	}
	.product {
		margin: 0 auto;
	}
}
.product {
	max-width: 360px;
	min-width: 287px;
	background-color: var(--white);
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.12);
}

.product_info {
	padding: 5px 20px 10px;
}
.product__line {
	height: 1px;
	background: var(--grey);
	margin: 10px 0;
}
.product__name {
	font-size: clamp(1.125rem, 1vw + 0.5rem, 1.25rem);
	font-weight: 700;
	line-height: 1.5;
	text-wrap: nowrap;
}
.product__model {
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.5;
}
.product__price {
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--red-text);
}

.product__price span {
	font-weight: 700;
}
.product summary {
	color: var(--green);
	font-weight: 700;
	margin-bottom: 10px;
}

.product__details {
	margin: 10px 0;
}

.product__compl :not(.compl-red) {
	list-style: disc;
}
.compl {
	margin-bottom: 20px;
}
.compl-red {
	margin-top: 8px;
	color: var(--chocolate);
	font-size: 0.94rem;
	font-weight: 700;
}
.compl-red span {
	color: var(--dark);
	//font-weight: 400;
}
.compl-black {
	margin-left: 23px;
	font-size: 0.94rem;

	& span {
		font-size: 0.85rem;
	}
}

.products__cta {
	max-width: 560px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.cta-prod__title {
	font-size: 1.4rem;
	margin-bottom: 5px;
}
.cta-prod__desc {
	margin-bottom: 5px;
}
.cta-prod__phone {
	font-size: 1.5rem;
}
/*--------------/products----------------*/

/*--------------delivery----------------*/

.delivery__block img {
	max-width: 400px;
}
@media (max-width: 960px) {
	.delivery__block img {
		max-width: 290px;
	}
}
@media (max-width: 768px) {
	.delivery__block {
		flex-direction: column;
		align-items: center;
		padding-bottom: 30px;
	}
}

.delivery__block {
	display: flex;
	padding: 0 40px;
}
.delivery__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: clamp(1.1rem, 1vw + 0.5rem, 1.313rem);
}
.delivery__title {
	margin-bottom: 10px;
}
.delivery__link {
	font-size: 1.1rem;
	color: var(--green);
	transition: 0.2s linear;
}

/*--------------/delivery----------------*/

/*--------------options----------------*/
.options__block {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 40px 30px 30px;
}

.options__item img,
.options__title {
	margin-bottom: 5px;
}

.options__desc {
	font-size: clamp(1rem, 2vw + 0.25rem, 1.125rem);
	text-align: center;
	margin-bottom: 35px;
}

.options__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	width: 100%;
	margin-bottom: 30px;
}

.options__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.options__link {
	font-size: 1.1rem;
	color: var(--green);
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
}

.options__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	padding: 17px 0;
}

.options__img {
	width: 50px;
	height: 50px;
	margin-right: 25px;
}

.options__main {
	width: 100%;
}

.options__price,
.options__text {
	font-size: 1.1rem;
}

.options__subtext {
	font-size: 0.95rem;
}

/*--------------/options----------------*/

/*--------------CTA----------------*/
.cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
	text-align: center;

	&__phone {
		display: inline-block;
		margin-top: 0px;
		font-size: 1.5rem;
	}

	&__list {
		text-align: center;
	}
	&__item {
		font-size: 17px;

		&--subdesc {
			font-size: 15px;
		}
	}
	&__action {
		margin-top: 21px;
	}
}

.cta__list :not(:last-child) {
	margin-bottom: 5px;
}

/*--------------/CTA----------------*/

.error {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--back-main);
	height: 100vh;
}
.error_box {
	max-width: 600px;
	min-width: 300px;
	width: auto;
	text-align: center;
}
.error_title {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 15px;
}
.error_desc {
	font-size: 1.3rem;
	width: 100%;
	margin-bottom: 25px;
}
.error_link {
	color: grey;
}
.error_link:hover {
	color: var(--green);
	transition: color 0.3s ease;
}

/*--------------infopage----------------*/
.infopage {
	margin: 50px auto 80px;

	&__h1 {
		font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
		font-weight: 700;
		max-width: 750px;
		text-align: center;
		margin: 0 auto 50px;
	}
	&__h2 {
		font-size: 1.3rem;
		font-weight: 700;
		text-align: left;
		margin-top: 8px;
	}
	&__text {
		line-height: 1.5;
		margin-bottom: 10px;
	}
	&__item {
		margin-bottom: 30px;
	}
	&__sublist li {
		list-style: disc;
		margin-left: 20px;
	}
}

/*-----------contacts-----------*/
.contacts__container {
	text-align: center;
}
.address :not(:last-child) {
	margin-bottom: 10px;
}
.contacts :not(:last-child) {
	margin-bottom: 10px;
}
.contacts__phone,
.contacts__mail,
.office__point {
	font-size: 1.3rem;
}
.office {
	padding: 30px 0;
}
.office :not(:last-child) {
	margin-bottom: 10px;
}
.office__map {
	padding: 0 10px;
}
/*----------/contacts-----------*/

@media (max-width: 920px) {
	.infopage__img {
		grid-template-columns: repeat(1, 1fr);
	}
	.options__block {
		padding: 40px 10px 30px;
	}
}

@media (max-width: 768px) {
	.hero {
		height: 520px;
	}

	.white-block {
		width: 510px;
	}

	.why__block {
		padding: 20px 30px;
	}

	.why__item::before {
		padding-left: 17px;
	}

	.delivery__block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding-bottom: 30px;
	}

	.options__list {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.options__item img {
		width: 45px;
	}

	.options__img {
		width: 35px;
		height: 35px;
	}

	.footer__container {
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		padding: 50px 80px;
	}
}

@media (max-width: 576px) {
	.options__img {
		width: 25px;
		height: 25px;
	}

	.options__price,
	.options__text {
		font-size: 1rem;
	}
}

@media (max-width: 420px) {
	.options__img {
		display: none;
	}
}
